#bootstrap-overrides a {
    color: black;
    font-family: fantasy;
}

#bootstrap-overrides .navbar-brand {
    color: red;
    font-family: fantasy;
}

#bootstrap-overrides .nav-item a {
    color: grey;
}

#bootstrap-overrides .navbar.navbar-expand-lg.navbar-light {
    background-color: powderblue;
}

section.pricing {
    background: whitesmoke;
    /* background: linear-gradient(to right, #0062E6, #33AEFF); */
}

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

#bootstrap-overrides .row .col-lg-4 a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
        opacity: 1;
    }
}