#img1 {
    /* border-bottom-style: solid; */
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 10px 10px 18px 0px #585858a3;
    border-radius: 50%;
    /* border-top-left-radius: 0; */
    /* border-bottom-left-radius: 15px; */
    /* ttttt */
}